$color-text: #333;
$color-gray: #dadada;
$color-success: #00a500;
$color-warning: #ff961f;
$color-danger: #ff3e3e;

$point-sm: 576px;
$point-md: 768px;
$point-lg: 992px;
$point-xl: 1200px;

$font-main: sans-serif;

$duration: .3s;

$path: '../';

%clear {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

// Брейкпоинты
@mixin screen-sm($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-sm} - 1', 'min-width: #{$point-sm}')) {
		@content;
	}
}

@mixin screen-md($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-md} - 1', 'min-width: #{$point-md}')) {
		@content;
	}
}

@mixin screen-lg($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-lg} - 1', 'min-width: #{$point-lg}')) {
		@content;
	}
}

@mixin screen-xl($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-xl} - 1', 'min-width: #{$point-xl}')) {
		@content;
	}
}
// ===========